/* Made by Emil Schütt 2020-05-25 */

@import "./sass/variableClasses";
@import "./sass/functions";
@import "./sass/mixIn";

@import './sass/fonts/Abril-fatface-and-Roboto';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 90vw;
  max-width: 100vw;
}

main {
  animation: pageTransition-Main 1s ease;
}

@import "./sass/nav";
@import './sass/contact-Components/main'
