@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexWrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@mixin shadow {
    box-shadow: 0 5px 10px color(secondary);
}