@keyframes slide-in {
  from {
    transform: translateX(calc(-100vw - 1000px));
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0px);
    opacity: 0.7;
  }
  to {
    transform: translateX(calc(100vw + 1000px));
    opacity: 0;
  }
}

@keyframes pageTransition-slideFromLeft {
  0% {
    transform: translateX(calc(-100vw - 1000px));
  }
  100% {
    transform: translateX(calc(0));
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(calc(-100vh - 1000px));
  }
  to {
    transform: translateY(0);
  }
}
