.mail-me {
  margin-top: 13rem;
  width: 70vw;
  padding: 3rem;
  @include shadow;
  form {
      @include flexCenter;
      flex-direction: column;
    input {
      width: 100%;
      padding: 1rem;
      margin-bottom: 2rem;
      &#message {
        height: 50vh;
      }
    }
    button {
      background: color(accent);
      font-size: 1.5rem;
      width: 20%;
      padding: 1rem;
      &:hover {
        background-color: color(hover);
      }
    }
  }
}
