main {
    @include flexCenter;
    flex-direction: column;
    @import './form';
    @import './3dText';
}

.not-found {
    margin-top: 20rem;
    text-transform: uppercase;
    font-size: 4rem;
}

@import './pageTransition'