/* Made by Emil Schütt 2020-05-25 */

.landing {
  margin-top: 10rem;
  h1 {
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 1px 1px color(accent) 2px 2px color(accent) 3px 3px
      color(accent);
    transition: all 0.24s ease-out;
    &:hover {
      position: relative;
      top: -3px;
      left: -3px;
      text-shadow: 1px 1px color(accent), 2px 2px color(accent),
        3px 3px color(accent), 4px 4px color(accent), 5px 5px color(accent),
        6px 6px color(accent);
    }
  }
}
