/* Made by Emil Schütt 2020-05-25 */

main {
  .top-container {
    min-height: 100vh;
    padding-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .top {
      animation: pageTransition-slideFromLeft 1s ease;
      float: left;
      max-width: 45%;
      min-width: 45%;
      margin: 5rem;
      margin-top: 6rem;
      font-size: 2rem;
      .top-name {
        text-transform: uppercase;
        margin-bottom: -2rem;
        font-size: 1.5rem;
        color: color(accent);
      }
      article {
        margin-top: -1rem;
      }
    }
    .right {
      animation: pageTransition-Top-Img 1.3s ease;
      //   float: right;
      //   z-index: -1;
      min-width: 45vw;
      min-height: 40vh;
      margin-right: 1rem;
      background: url("./images/lego-temp.jpg") center no-repeat;
      background-size: cover;
    }
  }

  .projects-container {
    animation: fade-in 2s ease;
  }

  .projects-text {
      margin-left: 7rem;
      font-size: 1.5rem;
  }

  .projects {
    max-height: 300vh;
    @include flexWrap;
    .project {
      min-width: 35%;
      max-width: 35%;
      min-height: 45vh;
      margin: 2rem;
      color: color(primary);
      font-size: 2rem;
      border-radius: 16px;
      padding: 1rem;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(115%);
      }
      a {
        color: color(secondary);
        background: color(primary);
        padding: 1rem;
        border-radius: 10px;
        border: 2px solid black;
        margin: auto;
        transition: all 0.3s ease;
        &:hover {
          background: color(hover);
        }
      }
    }
    .api {
      background: url("./images/DB.jpg") center no-repeat;
      background-size: cover;
    }
  }
}



@media screen and (max-width: 1090px) {
  .projects-container {
    display: none;
  }
}

@import './pageTransition';