/* Made by Emil Schütt 2020-05-25 */

@keyframes pageTransition-Top-Img {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }

  100% {
    transform: scaleY(100%);
    opacity: 1;
  }
}

@keyframes pageTransition-slideFromLeft {
  0% {
    transform: translateX(calc(-100vw - 1000px));
  }
  100% {
    transform: translateX(calc(0));
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
