/* Made by Emil Schütt 2020-05-25 */

header {
  position: fixed;
  width: 100vw;
  z-index: 2;
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 2rem;
    z-index: 2;

    #header-title {
      animation: pageTransition-slideFromLeft 0.5s ease;
      @include flexCenter();
      transition: all 0.1s ease;
      z-index: 2;
      &:hover {
        cursor: pointer;
        color: color(hover);
        i {
          border-color: color(hover);
        }
      }

      i {
        border: 3px solid black;
        border-radius: 50%;
        font-size: 2.5rem;
        padding: 0.5rem;
        margin-right: 1rem;
      }

      .header-text h2,
      .header-text p {
        margin: 0;
        padding: 0;
      }

      .header-text p {
        text-transform: uppercase;
      }
    }

    nav {
      animation: slideFromTop 1s ease;
      @include flexCenter();
      cursor: pointer;
      z-index: 2;
      .nav-text {
        text-transform: uppercase;
      }

      #ham-container {
        .box-1,
        .box-2,
        .box-3 {
          background: black;
          width: 30px;
          height: 3px;
          margin-bottom: 5px;
          margin-left: 1rem;
        }
      }
    }
  }
}

#link-container {
  // display: none;
  position: fixed;
  left: 0;
  top: 0;
  // transform: translate(-50%, 50%);
  max-height: 100vh;
  min-height: 100%;
  min-width: 100%;
  background: color(bg);
  // transition: all 0.5s ease;
  z-index: 1;

  #links {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    font-size: 4rem;
    // transition: all 0.5s ease;
    li {
      margin: 3rem;
      // transition: all 0.5s ease;
      a {
        color: color(primary);
        text-decoration: none;
        &:hover {
          color: darken($color: color(primary), $amount: 30%);
          text-decoration: underline;
        }
        // transition: all 0.5s ease;
      }
    }
  }
}

.slide-in {
  animation: slide-in 0.8s forwards ease;
}

.slide-out {
  animation: slide-out 2s forwards ease;
}

.text-change {
  transition: all 0.8s ease;
  color: color(primary);
}

i.text-change {
  border-color: color(primary);
}

.bar-change {
  transition: all 0.5s ease;
  background: color(primary);
}

@media screen and (max-width: 500px) {
  .header-text {
    display: none;
  }
  .nav-text {
    display: none;
  }
}

@import "./navAnimation";
